#projects {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.margin {
  margin-top: 100px;
}

.projects_display {
  margin-top: var(--big_margin);
}

.other_noteworthy {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: var(--big_margin);
}

.other_noteworthy h4 {
  font-size: var(--xLarge);
  color: var(--primary_color);
}
.other_noteworthy a {
  font-size: var(--small);
  color: var(--secondary_color);
  text-decoration: none;
  font-family: "Inconsolata", monospace;
}

.other_noteworthy a p {
  text-align: center;
}
.projects_grid {
  list-style: none;
  padding: 0px;
  margin: 50px 0px 0px;
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
  gap: var(--medium);
  position: relative;
}

/* MEDIA QUERIES ---------------------------------------------------------------- */
@media (max-width: 576px) {
  #projects .title h3 {
    font-size: var(--xLarge);
    text-align: center;
  }
  .margin {
    margin-top: var(--biggest);
  }
  .projects_display {
    margin-top: var(--big_margin);
  }
  .other_noteworthy {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: var(--big_margin);
    margin-top: var(--header);
  }

  .other_noteworthy h4 {
    font-size: var(--huge);
    margin-bottom: var(--large_margin);
  }
  .other_noteworthy a {
    font-size: var(--medium);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #projects .title h3 {
    padding-left: var(--large_padding);
  }
  .margin {
    margin-top: var(--biggest);
  }
  .projects_display {
    margin-top: var(--big_margin);
  }
  .other_noteworthy {
    display: flex;
    flex-direction: column;
    -webkit-box-align: center;
    align-items: center;
    margin-bottom: var(--big_margin);
    margin-top: var(--header);
  }

  .other_noteworthy h4 {
    font-size: var(--huge);
    margin-bottom: var(--large_margin);
    text-align: center;
  }
  .other_noteworthy a {
    font-size: var(--medium);
  }
  .projects_grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: var(--large);
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .projects_grid {
    grid-template-columns: repeat(auto-fill, minmax(500px, 1fr));
    gap: var(--large);
  }
}
