#project_card {
  background-color: var(--text_background_color);
  padding: var(--large_padding);
  border-radius: var(--mini);
  height: 100%;
  box-shadow: 0 10px 10px -15px var(--black);
}
#project_card:hover {
  transform: translate(0, -10px);
}

.project_card_top {
  display: flex;
  justify-content: space-between;
  margin-bottom: var(--medium_margin);
}
.project_card_top .icon img {
  width: var(--huge);
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
    hue-rotate(147deg) brightness(100%) contrast(91%);
}

.project_card_top .project_card_links button a img {
  width: var(--xLarge);
  margin-left: var(--mini);
  transition: all 800ms ease-in-out;
  filter: brightness(0) saturate(100%) invert(98%) sepia(18%) saturate(5131%)
    hue-rotate(178deg) brightness(100%) contrast(93%);
}
.project_card_top .project_card_links button a img:hover {
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
    hue-rotate(147deg) brightness(100%) contrast(91%);
}

.project_card_bottom .project_card_title a h3 {
  color: var(--primary_color);
  font-size: var(--large);
  margin-bottom: var(--large_margin);
}
.project_card_bottom .project_card_title a h3:hover {
  color: var(--secondary_color);
}

.project_card_bottom .project_card_description h5 {
  color: var(--primary_faded);
  font-size: var(--regular);
  margin-bottom: var(--large_margin);
}

.project_card_bottom .project_card_stack p {
  font-size: var(--small);
  color: var(--primary_faded);
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  word-spacing: var(--tiny);
  margin-bottom: var(--medium_margin);
}

@media (max-width: 575px) {
  #project_card {
    padding: var(--biggest_margin);
    border-radius: var(--tiny);
  }
  .project_card_top {
    margin-bottom: var(--big_margin);
  }
  .project_card_top .icon img {
    width: var(--inbetween);
  }

  .project_card_top .project_card_links button a img {
    width: var(--inbetween);
    margin-left: var(--tiny);
  }
  .project_card_bottom .project_card_title a h3 {
    text-align: center;
    font-size: var(--xLarge);
    margin-bottom: var(--big_margin);
  }
  .project_card_bottom .project_card_description h5 {
    text-align: center;
    font-size: var(--large);
    margin-bottom: var(--biggest_margin);
  }

  .project_card_bottom .project_card_stack p {
    font-size: var(--medium);
    color: var(--secondary_color);
    word-spacing: var(--tiny);
    margin-bottom: var(--big_margin);
  }
}

@media (max-width: 768px) {
  #project_card {
    padding: var(--biggest_margin);
    border-radius: var(--tiny);
  }
  .project_card_top {
    margin-bottom: var(--big_margin);
  }
  .project_card_top .icon img {
    width: var(--inbetween);
  }

  .project_card_top .project_card_links button a img {
    width: var(--inbetween);
    margin-left: var(--tiny);
  }
  .project_card_bottom .project_card_title a h3 {
    text-align: center;
    font-size: var(--huge);
    margin-bottom: var(--big_margin);
  }
  .project_card_bottom .project_card_description h5 {
    text-align: center;
    font-size: var(--xLarge);
    margin-bottom: var(--biggest_margin);
  }

  .project_card_bottom .project_card_stack p {
    font-size: var(--medium);
    color: var(--secondary_color);
    word-spacing: var(--tiny);
    margin-bottom: var(--big_margin);
  }
}
