#contact {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.contact_content {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.contact_content h3 {
  color: var(--primary_color);
  font-size: var(--inbetween);
  margin-bottom: var(--small_margin);
}
.contact_content p {
  width: var(--inbetween_size);
  color: var(--primary_faded);
  font-size: var(--medium);
  text-align: center;
  margin-bottom: var(--biggest_margin);
}
.contact_content button {
  margin-bottom: var(--big_margin);
}
.contact_footer {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: var(--almost_most);
  margin-bottom: var(--medium_margin);
}
.contact_footer:hover {
  transform: translateY(-5px);
}
.contact_footer .footer_link a {
  color: var(--primary_color);
  text-decoration: none;
  text-align: center;
  transition: all 320ms ease-in-out;
}
.contact_footer .footer_link a p {
  margin-bottom: 5px;
  font-size: var(--tiny);
  font-family: "Inconsolata", monospace;
}
.contact_footer .footer_link a span img {
  transition: all 320ms ease-in-out;
  width: 12px;
  margin-left: var(--mini);
  filter: brightness(0) saturate(100%) invert(98%) sepia(18%) saturate(5131%)
    hue-rotate(178deg) brightness(100%) contrast(93%);
  transform: translate(0, 1.5px);
}
.contact_footer .footer_link a:hover {
  color: var(--secondary_color);
}

.contact_footer .footer_link a:hover span img {
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
    hue-rotate(147deg) brightness(100%) contrast(91%);
}

@media (max-width: 575px) {
  #contact {
    margin-top: var(--biggest);
  }
  #contact .title h3 {
    font-size: var(--xLarge);
    text-align: center;
  }
  .contact_content h3 {
    margin: var(--big_margin) 0;
  }
  .contact_content p {
    width: var(--full_size);
    font-size: var(--large);
    margin-bottom: var(--header);
  }

  .contact_footer {
    margin-bottom: var(--huge_margin);
  }
  .contact_footer .footer_link a p {
    margin-bottom: var(--medium_margin);
    font-size: var(--medium);
  }
  .contact_footer .footer_link a span {
    font-size: var(--large);
    color: var(--secondary_color);
  }
  .contact_footer .footer_link a span img {
    width: var(--xLarge);
    margin-left: var(--tiny);
    filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
      hue-rotate(147deg) brightness(100%) contrast(91%);
  }
}

@media (min-width: 576px) and (max-width: 768px) {
  #contact {
    margin-top: var(--biggest);
  }

  #contact .title h3 {
    width: 100%;
    text-align: center;
  }
  .contact_content {
    width: 550px;
  }
  .contact_content h3 {
    margin: var(--big_margin) 0;
    font-size: var(--big);
    text-align: center;
    width: 100%;
  }
  .contact_content p {
    width: var(--large-size);
    font-size: var(--large);
    margin-bottom: var(--header);
  }

  .contact_footer {
    margin-bottom: var(--huge_margin);
  }
  .contact_footer .footer_link a p {
    margin-bottom: var(--medium_margin);
    font-size: var(--medium);
  }
  .contact_footer .footer_link a span {
    font-size: var(--large);
    color: var(--secondary_color);
  }
  .contact_footer .footer_link a span img {
    width: var(--xLarge);
    margin-left: var(--tiny);
    filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
      hue-rotate(147deg) brightness(100%) contrast(91%);
  }
}

@media (min-width: 769px) and (max-width: 1200px) {
  .contact_content {
    width: 750px;
  }
  .contact_content h3 {
    font-size: var(--huge);
    text-align: center;
  }
  .contact_content p {
    width: var(--medium_size);
    font-size: var(--medium);
  }
}
