#main {
  /* height: 828px; */
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
}

.header {
  width: var(--full_size);
  position: absolute;
  left: 38%;
  top: 50%;
  transform: translate(-22%, -50%);
}

.header h1 {
  font-size: var(--header);
  color: var(--primary_color);
  line-height: 85px;
}
.header .bottom_header {
  width: var(--small_size);
  font-size: var(--medium);
  margin: var(--large_margin) 0 var(--big_margin) var(--small_margin);
}

.header .top_header {
  color: var(--secondary_color);
  font-size: var(--medium);
  margin-bottom: var(--small_margin);
}
.header p,
.header .center_header {
  color: var(--primary_faded);
}
.header_btn {
  border-style: solid;
  font-size: var(--small);
  padding: var(--small) var(--huge);
  border-color: var(--secondary_color);
  color: var(--secondary_color);
}
.header_btn:hover {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--secondary_color);
  transform: translate(-5px, -5px);
  transition: all 0.35s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}
