#main {
  /* height: 828px; */
  height: 100vh;
  position: relative;
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 200px;
}
.left {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: 40px;
  right: auto;
  z-index: 10;
}
.right {
  width: 40px;
  position: fixed;
  bottom: 0px;
  left: auto;
  right: 40px;
  z-index: 10;
}
.contact_info .content a img {
  width: var(--medium);
  filter: brightness(0) saturate(100%) invert(98%) sepia(18%) saturate(5131%)
    hue-rotate(178deg) brightness(100%) contrast(93%);
}
.contact_info .content a:hover img {
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
    hue-rotate(147deg) brightness(100%) contrast(91%);
  transform: translateY(-5px);
}
.contact_info .content ul {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  margin: 0px;
  padding: 0px;
  list-style: none;
}
.contact_info .content ul li {
  margin-bottom: var(--mini);
}
.contact_info .content ul::after {
  content: "";
  display: block;
  width: 1px;
  height: var(--biggest);
  margin: 0px auto;
  background-color: var(--primary_faded);
}
.contact_info .email {
  display: flex;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  position: relative;
}
.contact_info .email a:hover {
  color: var(--secondary_color);
  transform: translateY(-5px);
}
.contact_info .email a {
  font-family: "Inconsolata", monospace;

  text-decoration: none;
  color: var(--primary_faded);
  /* margin: x auto; */
  padding: 10px;
  /* font-family: var(--font-mono); */
  font-size: var(--small);
  line-height: 10px;
  letter-spacing: 0.1em;
  -webkit-writing-mode: vertical-rl;
  writing-mode: vertical-rl;
}
.contact_info .email::after {
  content: "";
  display: block;
  width: 1px;
  height: var(--biggest);
  margin: 0px auto;
  background-color: var(--primary_faded);
}

.header {
  width: var(--full_size);
  position: absolute;
  animation: var(--fadein);
}

.header h1 {
  font-size: var(--header);
  color: var(--primary_color);
  line-height: 85px;
}
.header .bottom_header {
  width: var(--small_size);
  font-size: var(--medium);
  margin: var(--large_margin) 0 var(--big_margin) var(--small_margin);
}

.header .top_header {
  color: var(--secondary_color);
  font-size: var(--medium);
  margin-bottom: var(--small_margin);
}
.header p,
.header .center_header {
  color: var(--primary_faded);
  animation: var(--fadein);
}
.header_btn {
  border-style: solid;
  font-size: var(--small);
  padding: var(--small) var(--huge);
  border-color: var(--secondary_color);
}
.header_btn a {
  text-decoration: none;
  color: var(--secondary_color);
}
.header_btn {
  color: var(--secondary_color);
}
.header_btn:hover {
  outline: none;
  box-shadow: 4px 4px 0 0 var(--secondary_color);
  transform: translate(-5px, -5px);
  transition: all 0.35s cubic-bezier(0.79, 0.33, 0.14, 0.53);
}

/* MEDIA QUERIES ---------------------------------------------*/

@media (max-width: 575px) {
  #main {
    margin: 0 20px;
  }
  .left {
    opacity: 0;
  }
  .right {
    opacity: 0;
  }
  .header {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: center;
  }
  .header h1 {
    font-size: var(--header);
    line-height: 60px;
    text-align: left;
  }
  .header .top_header {
    font-size: var(--large);
  }
  .header .bottom_header {
    width: var(--full_size);
    margin-bottom: var(--biggest_margin);
    font-size: var(--large);
  }
  .header p {
    text-align: left;
  }
  .header_btn {
    margin-top: var(--biggest_margin);
    font-size: var(--large);
  }
}
