ul {
  list-style: none;
}
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 1;
  background-color: transparent;
  transition: 0.6s ease-in-out;
  padding: var(--regular_padding);
  top: -100px;
}
/* nav .logo {
  height: 10px;
} */
nav.active {
  background: rgba(10, 25, 47, 0.69);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(0, 0, 0, 0.1);
  backdrop-filter: blur(4.9px);
  -webkit-backdrop-filter: blur(4.9px);
  border: 1px solid rgba(10, 25, 47, 0.3);
  top: 0;
}
nav ul {
  display: flex;
  height: 30px;
}
.active {
  color: var(--secondary_color);
  transition: all ease 0.3s;
}
nav ul li a {
  font-family: calibri;
  /* height: 30px; */
  line-height: 43px;
  margin: 3px;
  padding: 0px 22px;
  display: flex;
  font-size: 0.9rem;
  text-transform: uppercase;
  font-weight: 500;
  color: var(--primary_color);
  letter-spacing: 1px;
  border-radius: 3px;
  transition: 0.2s ease-in-out;
}
nav ul li a:hover {
  color: var(--secondary_color);
  transition: all ease 0.2s;
}
nav .menu-btn,
.menu-icon {
  display: none;
}
.nav-title {
  font-size: 36px;
  color: var(--secondary_color);
  font-weight: bold;
  margin-left: 120px;
}
.numbered_header {
  color: var(--secondary_color);
  font-family: "Inconsolata", monospace;
}
.nav .logo {
  text-decoration: none;
}
.logo img {
  width: 80px;
}
.nav_btn {
  border-style: solid;
  border-radius: var(--mini);
  font-size: var(--tiny);
  border-color: var(--secondary_color);
  color: var(--secondary_color);
  box-shadow: 2px 2px 0px 0px var(--secondary_color);
}
.nav_btn a {
  padding: 0px 18px;
  color: var(--secondary_color);
  text-decoration: none;
}

@media (max-width: 768px) {
  .menu-icon {
    display: block;
  }
  nav {
    height: 65px;
    padding: 25px;
    top: 0;
    background: var(--text_background_color);
  }
  nav.active {
    background: var(--text_background_color);
    border-radius: 0;
    box-shadow: none;
    backdrop-filter: blur(0);
    -webkit-backdrop-filter: blur(0);
    border: none;
    top: 0;
  }
  .nav-title {
    margin-left: 0;
  }
  .logo img {
    width: 45px;
    justify-self: flex-start;
  }
  .header-btns {
    margin: 0;
  }
  .menu {
    display: none;
    position: absolute;
    top: 55px;
    left: 0px;
    background-color: var(--text_background_color);
    border-bottom: none;
    width: 100%;
    padding: 0px;
    margin: 0px;
  }
  nav ul {
    height: auto;
  }
  .menu li {
    width: 100%;
  }
  nav .menu li a {
    width: 100%;
    height: 40px;
    justify-content: center;
    align-items: center;
    margin: 0px;
    padding: 25px;
    border: 1px solid rgba(38, 38, 38, 0.03);
  }
  nav .menu li .nav_btn {
    width: 100%;
    justify-content: center;
    align-items: center;
    border-style: none;
    box-shadow: none;
    border-bottom: solid 2px var(--primary_color);
  }
  nav .menu li .nav_btn a {
    font-weight: 600;
  }
  nav .menu-icon {
    cursor: pointer;
    float: right;
    padding: 28px 20px;
    position: relative;
    user-select: none;
  }
  nav .menu-icon .nav-icon {
    background-color: var(--background_color);
    display: block;
    height: 2px;
    position: relative;
    transition: background 0.2s ease-out;
    width: 18px;
  }
  nav .menu-icon .nav-icon:before,
  nav .menu-icon .nav-icon:after {
    background: var(--primary_color);
    content: "";
    display: block;
    height: 100%;
    position: absolute;
    transition: all ease-out 0.2s;
    width: 100%;
  }
  nav .menu-icon .nav-icon:before {
    top: 5px;
  }
  nav .menu-icon .nav-icon:after {
    top: -5px;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon {
    /* background: transparent; */
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:before {
    transform: rotate(-45deg);
    top: 0;
  }
  nav .menu-btn:checked ~ .menu-icon .nav-icon:after {
    transform: rotate(45deg);
    top: 0;
  }
  nav .menu-btn {
    display: none;
  }
  nav .menu-btn:checked ~ .menu {
    display: block;
  }
  /* .nav_btn {
    justify-self: center;
    text-align: center;
  } */
}
