#experience {
  height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
  width: var(--full_size);
}

#experience .content {
  margin-left: var(--huge_margin);
  align-items: flex-end;
}

.left_menu {
  height: 200px;
  padding: var(--huge_padding) var(--medium_padding);
  margin: var(--large_margin);
  display: flex;
  align-items: flex-start;
}

.left_menu ul li button {
  font-family: "Inconsolata", monospace;
  font-size: var(--regular);
  color: var(--primary_color);
  border-left: 2px var(--active) solid;
  padding: var(--regular_padding);
  padding-left: var(--small_padding);
  width: var(--humangos);
  text-align: left;
  transition: border 400ms ease-in-out;
}
.content span {
  display: inline-block;
}
.left_menu ul li button:hover {
  color: var(--secondary_color);
  background-color: var(--active);
  border-left: 2px var(--secondary_color) solid;
}
.left_menu ul li .active {
  color: var(--secondary_color);
  border-left: 2px var(--secondary_color) solid;
}

.right_description h3 {
  font-size: var(--large);
  color: var(--primary_color);
}
.right_description h4 {
  font-family: "Inconsolata", "sans-serif";
  font-size: var(--small);
  font-weight: 400;
  color: var(--primary_faded);
  margin: var(--extrasmall_margin) 0 var(--large_margin) 0;
}
.right_description span {
  font-family: "Assistant", "sans-serif";
  font-weight: 300;
  color: var(--primary_faded);
  margin: var(--large_margin) 0;
  display: inline-block;
  width: var(--large_size);
}
.right_description span::before {
  content: "✱ ";
  color: var(--secondary_color);
}
.right_description .work_header {
  color: var(--secondary_color);
  font-weight: 500;
  font-style: italic;
}
.right_description .work_header::before {
  content: "@";
  color: var(--secondary_color);
  font-weight: 500;
}

/* MEDIA QUERIES-------------------------------------------------------------- */

@media (max-width: 575px) {
  #experience .content {
    align-items: center;
    flex-direction: column;
    width: var(--full_size);
    margin-left: 0;
  }

  .left_menu {
    height: var(--almost_most);
    margin: var(--small_margin);
    height: 50px;
    margin-bottom: var(--xLarge);
  }
  .left_menu ul li {
    display: inline;
  }
  .left_menu ul li button {
    text-align: center;
    font-size: var(--medium);
    border-left: none;
    margin-left: var(--huge);
  }
  #experience .content span {
    display: inline-block;
    text-align: left;
  }
  .left_menu ul li button:hover {
    background-color: transparent;
    border-left: none;
    border-bottom: 2px var(--secondary_color) solid;
  }
  .left_menu ul li .active {
    border-left: none;
    border-bottom: 2px var(--secondary_color) solid;
  }

  .right_description {
    text-align: left;
    margin: 0 var(--huge);
    font-size: var(--xLarge);
  }
  .right_description h3 {
    font-size: var(--inbetween);
    line-height: var(--inbetween);
  }

  .right_description h4 {
    font-size: var(--medium);
    font-weight: 500;
  }
  .right_description .work_header {
    font-size: var(--xLarge);
  }
  .right_description span {
    font-weight: 400;
    margin: var(--large_margin) 0;
    width: var(--full_size);
  }
}
