#project {
  display: grid;
  gap: 100px;
  grid-template-columns: repeat(12, 1fr);
  -webkit-box-align: center;
  align-items: center;
  margin-bottom: 100px;
}

#project:nth-child(odd) .project_content {
  text-align: right;
  grid-area: 1 / 13 / -1 / 3;
}

#project:nth-child(even) .project_content {
  grid-area: -1 / 3 / 1 / 13;
}
#project:nth-child(odd) .project_image {
  grid-area: 1 / 1/ -1 / 10;
}
#project:nth-child(even) .project_image {
  grid-area: 1 / 6 / -1 / -1;
}
.project_image {
  justify-self: center;
  box-shadow: 0 10px 30px -15px black;
  position: relative;
  z-index: 1;
}
.project_image img,
.project_image a,
.overlay_image img {
  border-radius: var(--mini);
}
.project_image img:hover {
  animation: pulse 800ms ease-in-out;
}
.project_image img {
  filter: url(#noise);
}
.project_image:hover a {
  background-color: transparent;
}
.project_image a {
  width: 100%;
  height: 100%;
  background-color: var(--secondary_color);
  border-radius: var(--mini);
  vertical-align: middle;
  position: relative;
  z-index: 1;
  display: inline-block;
  transition: all 350ms ease-in-out;
}
.image_wrapper {
  border-radius: var(--border-radius);
  mix-blend-mode: multiply;
  width: 100%;
  max-width: 100%;
  vertical-align: middle;
  position: relative;
  overflow: hidden;
  display: inline-block;
}
.overlay_image {
  max-width: 700px;
  display: block;
}
.overlay_image img {
  max-width: 100%;
  display: block;
  position: static;
  filter: blur(5px);
  height: 100%;
  width: 100%;
  object-fit: contain;
}

.picture img {
  object-fit: fit;
  opacity: 1;
  transform: translateZ(0);
  transition: opacity 0.25s linear;
  will-change: opacity;
  bottom: 0;
  height: 100%;
  left: 0;
  margin: 0;
  max-width: none;
  padding: 0;
  position: absolute;
  right: 0;
  top: 0;
  width: 100%;
  aspect-ratio: auto 700 / 438;
}

.project_content {
  justify-self: center;
  position: relative;
}
.project_header {
  color: var(--secondary_color);
  font-weight: 200;
  font-family: "Inconsolata";
  font-size: var(--small);
  letter-spacing: 2px;
}
.project_title {
  margin-bottom: var(--medium_margin);
}
.project_title a {
  font-size: var(--xLarge);
  color: var(--primary_color);
  font-family: "Assistant", "sans-serif";
  font-weight: 600;
  align-self: flex-end;
  text-decoration: none;
}
.project_title a:hover {
  color: var(--secondary_color);
}
#project:nth-child(odd) .project_description {
  margin-left: 350px;
}
#project:nth-child(even) .project_description {
  margin-right: 350px;
}
.project_description {
  margin-bottom: var(--big_margin);
  z-index: 2;
  position: relative;
  border-radius: var(--mini);
  background-color: var(--text_background_color);
  box-shadow: 0 10px 10px -15px var(--black);
}
.project_description:hover {
  box-shadow: 0 10px 30px -15px var(--black);
}
.project_description p {
  color: var(--primary_faded);
  padding: var(--big_margin);
}

.project_stack p {
  font-size: var(--small);
  color: var(--primary_faded);
  font-weight: 600;
  font-family: "Inconsolata", monospace;
  word-spacing: var(--tiny);
  margin-bottom: var(--large_margin);
  z-index: 2;
  position: relative;
  text-shadow: black 1px 0.1px;
}

.project_links button {
  margin-left: var(--medium_margin);
}
.project_links button a img {
  width: var(--xLarge);
  transition: all 800ms ease-in-out;
  filter: brightness(0) saturate(100%) invert(98%) sepia(18%) saturate(5131%)
    hue-rotate(178deg) brightness(100%) contrast(93%);
}

.project_links button:hover {
  filter: brightness(0) saturate(100%) invert(95%) sepia(83%) saturate(1417%)
    hue-rotate(147deg) brightness(100%) contrast(91%);
}

.image_cover {
  display: none;
}

@keyframes pulse {
  from,
  to {
    scale: 1;
  }
  50% {
    scale: 1.08;
  }
}

/* MEDIA QUERIES ---------------------------------------------------------------- */

@media (max-width: 575px) {
  #project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--inbetween);
  }
  #projects .margin .title {
    align-self: flex-start;
  }
  .project_image {
    display: none;
  }
  .image_cover {
    opacity: 0.5;
    display: block;
    z-index: -99;
    width: 350px;
    height: 450px;
    background-size: cover;
    filter: contrast(50%) brightness(25%);
    border-radius: var(--small);
    box-shadow: 0 10px 30px -15px black;
  }

  .project_content {
    position: absolute;
  }
  #project:nth-child(odd) .project_description {
    margin-left: 0;
  }
  #project:nth-child(even) .project_description {
    margin-right: 0;
  }
  .project_header {
    text-align: center;
    font-size: var(--medium);
  }
  .project_title {
    text-align: center;
  }
  .project_title a {
    font-size: var(--inbetween);
  }
  .project_description {
    margin: var(--big_margin) 0;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    font-size: var(--xLarge);
    line-height: var(--huge);
  }
  .project_description:hover {
    box-shadow: none;
  }
  .project_stack p {
    color: var(--secondary_color);
    font-size: var(--regular);
    text-align: center;
    word-spacing: var(--small);
    margin-bottom: var(--biggest_margin);
    z-index: 2;
    text-shadow: none;
  }
  .project_links {
    text-align: center;
    margin-top: var(--header);
  }
  .project_links button {
    margin-left: var(--huge_margin);
  }
  .project_links button a img {
    width: var(--header);
  }
}

@media (max-width: 768px) {
  #project {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    margin-bottom: var(--inbetween);
  }
  #projects .margin .title {
    align-self: flex-start;
  }
  .project_image {
    display: none;
  }
  .image_cover {
    opacity: 0.5;
    display: block;
    z-index: -99;
    width: 400px;
    height: 500px;
    background-size: cover;
    filter: contrast(50%) brightness(25%);
    border-radius: var(--small);
    box-shadow: 0 10px 30px -15px black;
  }

  .project_content {
    position: absolute;
  }
  #project:nth-child(odd) .project_description {
    margin-left: 0;
  }
  #project:nth-child(even) .project_description {
    margin-right: 0;
  }
  .project_header {
    text-align: center;
    font-size: var(--medium);
  }
  .project_title {
    text-align: center;
  }
  .project_title a {
    font-size: var(--big);
  }
  .project_description {
    margin: var(--large_padding) 0;
    background-color: transparent;
    text-align: center;
    box-shadow: none;
    font-size: var(--large);
    line-height: var(--xLarge);
  }
  .project_description:hover {
    box-shadow: none;
  }
  .project_stack p {
    color: var(--secondary_color);
    font-size: var(--small);
    text-align: center;
    word-spacing: var(--small);
    margin-bottom: var(--big_margin);
    z-index: 2;
    text-shadow: none;
  }
  .project_links {
    text-align: center;
    margin-top: var(--inbetween);
  }
  .project_links button {
    margin-left: var(--huge_margin);
  }
  .project_links button a img {
    width: var(--big);
  }
}

@media (max-width: 1200px) {
  #project {
    display: flex;
    gap: var(--medium);
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: var(--inbetween);
  }
  .project_content {
    width: 500px;
    text-align: center;
  }
  .project_header,
  .project_title {
    text-align: center;
  }
  .project_header {
    font-size: var(--medium);
  }
  .project_title a {
    font-size: var(--huge);
  }
  #project:nth-child(odd) .project_description {
    margin-left: 0;
  }
  #project:nth-child(even) .project_description {
    margin-right: 0;
  }
  .project_description {
    margin-bottom: var(--big_margin);
  }
  .project_description p {
    text-align: center;
    font-size: var(--medium);
  }
  .project_stack p {
    text-align: center;
    font-size: var(--regular);
  }
  .project_links {
    text-align: center;
  }
  .project_links button a img {
    width: var(--huge);
  }
  .project_image a {
    background-color: transparent;
  }
}
